<h1>Update Form</h1>

<div class="container">
    <form name="updateForm" novalidate ng-submit="updateForm.$valid && ctrl.updateBook()">
        <div class="form-group">
            <label for="title">Title</label>
            <input id="title"
                   class="form-control"
                   name="title"
                   type="text"
                   required
                   ng-model="ctrl.book.title"/>

            <div class="validation"  data-ng-show="updateForm.title.$touched || updateForm.$submitted">
                <div data-ng-show="updateForm.title.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Title is required.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="author_firstname">Author First Name</label>
            <input id="author_firstname"
                   class="form-control"
                   name="author_firstname"
                   type="text"
                   required
                   ng-model="ctrl.book.author_firstname"/>

            <div class="validation"  data-ng-show="updateForm.author_firstname.$touched || updateForm.$submitted">
                <div data-ng-show="updateForm.author_firstname.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Author First Name is required.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="author_lastname">Author Last Name</label>
            <input id="author_lastname"
                   class="form-control"
                   name="author_lastname"
                   type="text"
                   required
                   ng-model="ctrl.book.author_lastname"/>

            <div class="validation"  data-ng-show="updateForm.author_lastname.$touched || updateForm.$submitted">
                <div data-ng-show="updateForm.author_lastname.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Author Last Name is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <hr/>
            <input id="submit"
                   name="submit"
                   type="submit"
                   class="btn btn-success"/>
        </div>
    </form>
</div>