<h1>Search Form</h1>

<div class="container">
    <form name="searchByTitleForm" novalidate ng-submit="ctrl.searchByTitle()">
        <input type="text" ng-model="ctrl.title" required>
        <button type="submit" ng-disabled="searchByTitleForm.$invalid">Search by Title</button>
    </form>
</div>

<div class="container">
    <form name="searchByAuthorForm" novalidate ng-submit="ctrl.searchByAuthor()">
        <input type="text" ng-model="ctrl.author" required>
        <button type="submit" ng-disabled="searchByAuthorForm.$invalid">Search by Author</button>
    </form>
</div>

<table class="table table-striped" ng-show="ctrl.results">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author First Name</th>
        <th>Author Last Name</th>
        <th>Cover Thumbnail</th>
    </tr>
    </thead>
    <tbody>
    <div>
        <tr ng-repeat="b in ctrl.results">
            <td>{{ b.title }}</td>
            <td>{{ b.author_firstname }}</td>
            <td>{{ b.author_lastname }}</td>
            <td>{{ b.cover_thumbnail }}</td>
            <td ng-click="ctrl.edit(b.id)">edit</td>
        </tr>
    </div>
    </tbody>
</table>
